<h1>Editing Store</h1>

<%= render 'form', store: @store %>
</br>
<div class="btn btn-danger">               
<%= link_to 'Show', @store, class:"p-0 ml-3 mr-3 pr-4", class:"text-white" %> </div> | 
<div class="btn btn-warning">               
<%= link_to 'Back', stores_path, class:"p-0 ml-3 mr-3 pr-4", class:"text-white" %>
</div>
