<h4>Thank you for shopping with us!</h4><br />
	
your order has been processed.<br />

A detailed email has been sent.<br />


 <div class="btn btn-info">               
<a href="/gallery/index">Click here to continue the shopping</a>
</div>